<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Your Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Me</h1>
    <p>
        Hello! I'm [Your Name], a passionate [Your profession, e.g., 'web developer']. I graduated from [Your School/University] with a degree in [Your degree]. With [X] years of experience in [Your industry], I've developed a diverse set of skills that help me deliver solutions that resonate with users and meet business goals.
    </p>
    <footer>
        <p>Powered by Twitter Bootstrap</p>
        <a href="https://github.com/dan-od">GitHub</a> | <a href="https://linkedin.com/in/danielokoro">LinkedIn</a>
    </footer>
    
</body>
</html>


