<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Your Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <h1>Welcome to My Portfolio</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<main>
   // <p>Welcome to my online portfolio. I'm Okoro Daniel, a student at OntarioTech University. Explore my work and learn more about me by navigating through the pages. If you'd like to get in touch, head over to the contact page.''</p>
    

</main>
<footer>
    <p>Powered by Twitter Bootstrap</p>
    <a href="https://github.com/dan-od">GitHub</a> | <a href="https://linkedin.com/in/danielokoro">LinkedIn</a>
</footer>


</body>
</html>
